{% extends 'base.html.twig' %}

{% block title %} Inscription {{ parent() }} {% endblock %}

{% block body %}
     <h1 class="form-signin-heading my-3 text-center">Créer mon compte</h2>

    <div class="form-signin" style="width: 50rem;">
   
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.phone) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
       
        <button type="submit" class="btn btn-lg btn-outline-success my-3">
        Créer mon compte</button>
        
    {{ form_end(registrationForm) }}

     {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
 </div>
{% endblock %}
