{% extends 'dashboard.html.twig' %}

{% block title %} Gérer les séances {{ parent() }} {% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <br>
        <h1 class="my-3 text-center">Ajouter ou modifier une séance</h1>
        
        <div class="m-auto mb-5" style="width: 30rem;">
            {{ form_start(addSessionForm) }}
                {{ form_widget(addSessionForm) }}
                <button type="submit" class="btn btn-outline-success my-3" href="{{ path('admin_session')}}">
                    Valider
                </button>

                <br>
                <br>
            {{ form_end(addSessionForm) }}
        </div>
    </div>
</div>

{% endblock %}