{% extends 'dashboard.html.twig' %}

{% block title %} Ajouter ou modifier un game {{ parent() }} {% endblock %}

{% block body %}
<div class="row">
    <div class="col">
            <h1 class="my-5 text-center">Ajouter ou modifier un scénario de game</h1>
            
            <div class="m-auto mb-5"style="width: 30rem;">
                {{ form_start(addGameForm) }}
                    {{ form_widget(addGameForm) }}
                    <br>
                    <button type="submit" class="btn btn-outline-success text-center" href="{{ path('admin_add_game')}}">
                        Valider
                    </button>
                    <br>
                    <br>
                {{ form_end(addGameForm) }}
            </div>
    </div>
</div>

{% endblock %}