{% extends 'dashboard.html.twig' %}

{% block title %} Games {{ parent() }} {% endblock %}

{% block body %}
<div class="row">

	<h1 class="mt-5 mb-5 text-center">Gérer les games</h1>

    <br>

    <div class="row">
        <div class="col">
            <h3 class="mb-3">Rechercher un game</h3>
            <input id="myInput" type="text" placeholder="Rechercher...">
        </div>
        <br>
        <div class="col">
            <div class="row">
                <div class="col-8">
                    <h3>Ajouter un nouveau game</h3>
                </div>
                <div class="col">
                    <a href="{{ path('admin_add_game')}}" class="btn btn-outline-success">Ajouter</a>
                </div>
            </div>
        </div>
    </div>


        <div class="text-center my-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Lieu</th>
                        <th>Durée</th>
                        <th>Nombre max de joueurs</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% for game in games %}
                    <tr>
                        <td>{{ game.title }}</td>
                        <td>{{ game.place }}</td>
                        <td>{{ game.duration }}</td>
                        <td>{{ game.playersMax }}</td>
                        <td>
                            <a onclick="return confirm('Voulez vous supprimer {{ game.title }}?')" 
                            href="{{ path('delete_game', { 'id': game.id} )}}" class="btn btn-outline-danger">Supprimer</a>
                        </td>
                        <td>
                            <a href="{{ path('edit_game', { 'id': game.id} )}}" class="btn btn-outline-success">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>

{% endblock %}
