{% extends 'dashboard.html.twig' %}

{% block title %} Séances {{ parent() }} {% endblock %}

{% block body %}
<div class="row">
	<h1 class="my-3 text-center">Gérer les séances</h1>

	<div class="my-2">
		<h2>Ajouter une séance</h2>
		<a href="{{ path('add_session')}}" class="btn btn-outline-success">Ajouter</a>
	</div>

	<div class="row">
		
		<table class="table table-bordered my-4 text-center">

			<thead>
			  <tr>
				{% for day,slots in dates %}
					<th>{{ day }}</th>
				{% endfor %}
			  </tr>
			</thead>
		
			<tbody>
				{% for i in 0..7 %}
					<tr>
		
						{% for day,slots in dates %}
							{% if day in dates_bdd|keys %}
								{% if dates_bdd[day][i] == 0  %}
									<td>
										<a href="#" class="btn btn-outline-success">{{slots[i]}}</a>
									</td>
								{% else %}
									<td >
										<span class="btn btn-outline-danger">{{slots[i]}}</span>
									</td>
								{% endif %}
							{% else %}
								<td>
									<a href="#" class="btn btn-outline-success">{{slots[i]}}</a>
								</td>
							{% endif %}
						{% endfor %} 
		
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
{% endblock %}


{# 
{% for jour in tabWeek %}
<div class="col-1">
	

	{% for seance in jour %}
		<div class="seance gris-f">

			{% if seance %}
			<div class="rdv">{{ seance }}</div>
			{% endif %}
		</div>
		<a 
		href="{{ path('delete_session', { 'id': session.id} )}}" 
			class="btn btn-danger">
			Supprimer<i class="fas fa-trash"></i>
		</a>
	{% endfor %}

</div>
{% endfor %} #}

