{% extends 'dashboard.html.twig' %}

{% block title %} Séances {{ parent() }} {% endblock %}

{% block body %}
<div class="row">
	<h1>Gérer les séances</h1>

	</div>
		<a 
		href="{{ path('add_session')}}" 
			class="btn btn-success">
			Ajouter une séance<i class="fas fa-plus"></i>
		</a>
	</div>
	<div class="row">
		
		<table class="table table-bordered">

			<thead>
			  <tr>
				{% for day,slots in dates %}
					<th>{{ day }}</th>
				{% endfor %}
			  </tr>
			</thead>
		
			<tbody>
				{% for i in 0..7 %}
					<tr>
		
						{% for day,slots in dates %}
							{% if day in dates_bdd|keys %}
								{% if dates_bdd[day][i] == 0  %}
									<td>
										<a href="#" class="btn btn-outline-success">{{slots[i]}}</a>
									</td>
								{% else %}
									<td >
										<span class="btn btn-outline-danger">{{slots[i]}}</span>
									</td>
								{% endif %}
							{% else %}
								<td>
									<a href="#" class="btn btn-outline-success">{{slots[i]}}</a>
								</td>
							{% endif %}
						{% endfor %} 
		
					</tr>
				{% endfor %}
			</tbody>
		</table>
		



{% endblock %}


{# 
{% for jour in tabWeek %}
<div class="col-1">
	

	{% for seance in jour %}
		<div class="seance gris-f">

			{% if seance %}
			<div class="rdv">{{ seance }}</div>
			{% endif %}
		</div>
		<a 
		href="{{ path('delete_session', { 'id': session.id} )}}" 
			class="btn btn-danger">
			Supprimer<i class="fas fa-trash"></i>
		</a>
	{% endfor %}

</div>
{% endfor %} #}

{# {% if slot == getSlot10h() %}
<td>  </td>
{% else %}
<td>{{ slot }}</td>
{% endif %} #}

	{# test
		{% if 3 in [1,2,3,5] %}

				<h1>321321321</h1>

				{% endif %} #}
