{% extends 'dashboard.html.twig' %}

{% block title %} User {{ parent() }} {% endblock %}

{% block body %}

    <h1 class="my-3 text-center">Gérer les utilisateurs</h1>

        <div>
            <h2>Rechercher un utilisateur</h2>
            <input id="myInput" type="text" placeholder="Rechercher...">
        </div>

        <br>

        <div>
            <h2>Ajouter un nouvel utilisateur</h2>
            {# ?????? utile ou pas de vérifier ici si c'est un admin ?????? #}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_register')}}" class="btn btn-outline-success">Ajouter</a>
            {% endif %}
        </div>

        <br>

        <div class="row">
            <h2>Liste des utilisateurs</h2>
            <table class="table mt-2 table-striped text-center">
                <thead>
                    <tr>
                        <th>Adresse mail</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">

                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>
                            <a onclick="return confirm('Voulez vous supprimer {{ user.firstname }}  {{ user.lastname }} ?')" 
                            href="{{ path('admin_delete_user', { 'id': user.id} )}}" class="btn btn-outline-danger">Supprimer</a>
                        </td>
                        <td>
                            <a href="{{ path('admin_edit_user', { 'id': user.id} )}}" class="btn btn-outline-success">Modifier</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>


		</div>


{% endblock %}






