{% extends 'dashboard.html.twig' %}

{% block title %} User {{ parent() }} {% endblock %}

{% block body %}
			<div class="col-8">
				<br>
				<h3>Gérer les utilisateurs</h3>
			</div>
            <br>

            <div>Rechercher un utilisateur
                <input id="myInput" type="text" placeholder="Rechercher...">
            </div>
            <br>
            <div>Ajouter un nouvel utilisateur
                {# ?????? utile ou pas de vérifier ici si c'est un admin ?????? #}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_register')}}" class="btn btn-success">
                        <i class="fas fa-plus"></i>
                    </a>
                {% endif %}
            </div>

        <div class="row">
            <table class="table mt-5 table-striped">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th colspan="3">Actions</th>
                    </tr>
                </thead>
                <tbody id="myTable">

                    {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>
                            <a onclick="return confirm('Voulez vous supprimer {{ user.firstname }}  {{ user.lastname }} ?')" 
                            href="{{ path('admin_delete_user', { 'id': user.id} )}}" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_edit_user', { 'id': user.id} )}}" class="btn btn-success">Modifier</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>


		</div>


{% endblock %}






