{% extends "base.html.twig" %}

{% block title %}Détails des scénario
{% endblock %}

{% block body %}

<div class="container">
    <h1>Détails des scénario d'escape game</h1>

        {% for game in games %}

            <div class="card" style="width: 18rem;">
                <img src="{{ game.photo }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ game.title }}</h5>
                <p>Lieu : {{ game.place }}</p>
                <p>Durée : {{ game.duration }}</p>
                <p>Nombre maximum de joueurs : {{ game.playersMax }}</p>
                <p class="card-text">{{ game.description }}</p>
                <a class="btn btn-outline-success" href="{{ path('session')}}">Réserver</a>
                </div>
            </div>

        {% endfor %}
</div>
{% endblock %}