{% extends 'base.html.twig' %}

{% block title %}Réserver une séance{% endblock %}

{% block body %}

<h1 class="my-3 text-center">Choisissez une séance</h1>
<p id="demo1"></p>


<table class="table table-bordered text-center">

    <thead>
      <tr>
        {% for day,slots in dates %}
            <th>{{ day }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
        {% for i in 0..7 %}
            <tr>
                {% for day,slots in dates %}
                    {% if day in dates_bdd|keys %}
                        {% if dates_bdd[day][i] == 0  %}
                            <td>
                                <a href="#" onclick="selectSession()" class="btn btn-outline-success">{{slots[i]}}</a>
                            </td>
                        {% else %}
                            <td >
                                <span class="btn btn-outline-danger">{{slots[i]}}</span>
                            </td>
                        {% endif %}
                    {% else %}
                        <td>
                            <a href="#" onclick="selectSession()" class="btn btn-outline-success">{{slots[i]}}</a>
                        </td>
                    {% endif %}
                {% endfor %} 
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="container">
    <div class="my-3">

        <div class="my-5">
            <h3>Nombre de participants (de 2 à 6 joueurs)</h3>
            <div class="control">

                <input type="number" min="2" max="6" class="input" id="nbr_personnes">

                <button id="appli" class="btn btn-outline-success mx-3">Appliquer</button>
            </div>
        </div>

        <div class="my-5">
            <h3>Tarif par participants : 
                <span id="perPlayer"></span>
            </h3>
        </div>
            
        <div class="my-5">
            <h3>Tarif total</h3>
            <div>  
                <input data-field="item-total-price" type="number" id="totalPrice" value="0" readonly>
                       
                <a href="{{ path('booking') }}" class="btn btn-outline-success mx-3">Réserver</a>
                
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
   
        //nb of person
        document.getElementById("appli").addEventListener("click", nbPlayer); 
        var input = document.querySelector("#nbr_personnes");
        var quantity = 1;
        input.value = quantity;

        // function selectSession() {
        //     document.getElementById("demo1").innerHTML = "Hello World";
        // }

        //price per person and total price
        function nbPlayer() {
            var tarif = [26,24,22,20,18,16];
            var nbr_personnes=parseFloat(document.getElementById("nbr_personnes").value);
            document.getElementById("perPlayer").innerHTML = tarif[nbr_personnes-1];
            document.getElementById("totalPrice").value = nbr_personnes*tarif[nbr_personnes-1];
        }

    </script>
{% endblock %}



