{% extends 'base.html.twig' %}

{% block title %}Réserver une séance{% endblock %}

{% block body %}

<h1>Réserver une séance</h1>

<table class="table table-bordered">

    <thead>
      <tr>
        {% for day,slots in dates %}
            <th>{{ day }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
        {% for i in 0..7 %}
            <tr>
                {% for day,slots in dates %}
                    <td>
                        <a href="#" class="btn btn-success">{{ slots[i] }}</a>
                    </td> 
                {% endfor %}

                {# {% for day,slots in dates %}
                    {% if slots[day][i] == 0  %}
                        <td>
                            <a href="#" class="btn btn-success">{{slots[i]}}</a>
                        </td>
                    {% else %}
                        <td >
                            <span class="btn btn-danger">{{slots[i]}}</span>
                        </td>
                    {% endif %}
                {% endfor %} #}

            </tr>
        {% endfor %}
    </tbody>
</table>


{# nb de participants #}
{# {% for player in range(0, 3) %}
    {{ player }}
{% endfor %} #}

{% endblock %}
