{% extends 'base.html.twig' %}

{% block title %} Connexion {{ parent() }} {% endblock %}

{% block body %}

<div class="container">
    <div class="row">

        <h2 class="form-signin-heading my-5 text-center">Connexion à mon compte</h2>

        <div class="col">
            <form method="post" class="form-signin my-5">

                <div class="m-auto" style="width: 30rem;">
                    <label for="inputEmail" class="mb-2">Email</label>
                    <input  type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" style="width: 20em;" required autofocus>
                    <label for="inputPassword" class="mb-2">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-2" style="width: 20em;" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                    <button class="btn btn-outline-success my-3" type="submit">Connexion</button>
                </div>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}" class="btn btn-outline-success m-auto">Déconnexion</a>
                    </div>
                {% endif %}
            </form>
        </div>

        <div class="col my-5">
            <div class="row">
                <h2 class="my-3 text-center">Pas encore de compte ?</h2>
            </div>
            <div class="row">
                <a href="{{ path('app_register') }}" class="btn btn-outline-success m-auto" style="width: 13em;">Créer mon compte</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
