
<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap" rel="stylesheet">         
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <title>
            {% block title %} Site Escape Game {% endblock %}
        </title>
        {% block style %}{% endblock %}
    </head>

    <body>
 
  {% set route_name = app.request.attributes.get('_route') %} 
      
        <nav class="navbar navbar-expand-lg navbar-light text-dark" style="background-color: #206323b7;">
            <div class="container" style="height: 7rem;">
                <a class="navbar-brand m-auto" href="{{ path('game' )}}">
                    <img src="{{ asset('img/logo1.png')}}" alt="logo" class="text-dark" style="height: 7em;">
                </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse menu-burger" id="navbarResponsive">
                
                <ul class="navbar-nav ml-auto m-auto">

                    <li class="nav-item   {% if route_name == "game" %}active{% endif %}">
                        <a class="nav-link text-dark h-3" href="{{ path('game' )}}"><strong>Accueil</strong>
                            {% if route_name == "game" %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>

                    <li class="nav-item   {% if route_name == "session" %}active{% endif %}">
                        <a class="nav-link text-dark h-3" href="{{ path('session' )}}"><strong>Réserver une séance</strong>
                            {% if route_name == "session" %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>


                    {# {%  if is_granted('IS_AUTHENTICATED_FULLY') %} #}
                    {%  if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item {% if route_name == "admin_game" %}active{% endif %}">
                            <a class="nav-link text-dark h-3" href="{{ path('admin_game' )}}"><strong>Mon compte</strong></a>
                        </li>
                        <li class="nav-item ">
                            <a class="btn btn-outline-light text-dark h-3" href="{{path('app_logout')}}"><strong>Me déconnecter</strong><i class="fas fa-sign-out-alt"></i></a>  
                        </li>
                        <li>
                            <span class="ml-4 ms-3 mt-2 text-white h-3"><strong>Bonjour Admin</strong></span>
                        </li>
                    {%  elseif is_granted('ROLE_USER') %}
                        <li class="nav-item {% if route_name == "booking" %}active{% endif %}">
                            <a class="nav-link text-dark h-3" href="{{ path('booking' )}}"><strong>Mon compte</strong></a>
                        </li>
                        <li class="nav-item ">
                            <a class="btn btn-outline-dark text-dark h-3" href="{{path('app_logout')}}"><strong>Me déconnecter</strong><i class="fas fa-sign-out-alt"></i></a>   
                        </li>
                        <li>
                            <span class="ml-4 my-3 mt-5 h-3 text-white"><strong>Bonjour {{app.user.firstname}} {{app.user.lastname}}</strong></span>
                        </li>
                    {% else %}
                        <li class="nav-item {% if route_name == "app_login" %}active{% endif %}">
                            <a class="nav-link text-dark h-3 align-middle" href="{{ path('app_login' )}}"><strong>Me connecter</strong></a>
                        </li>
                        <li class="nav-item {% if route_name == "app_register" %}active{% endif %}">
                            <a class="nav-link text-dark h-3" href="{{ path('app_register' )}}"><strong>Créer mon compte</strong></a>
                        </li>
                    {% endif %}
                  
                </ul>
            </div>
        </div>
    </nav>

    <section class="container">

        {% block body %}{% endblock %}

    </section>

  <footer class="py-5" style="background-color: #206323b7;">
    <div class="container">
      <p class="m-0 text-center text-dark">Copyright &copy; Escape Game 2021</p>
    </div>
  </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            {% block script %}
            {% endblock %}

    </body>
</html>
