
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" href="{{ asset("favicon.png") }}" />
<link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/style.css')}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<title>
    {% block title %} Dashboard admin{% endblock %}
</title>
{% block style %}{% endblock %}
</head>

<body>

    {% set route_name = app.request.attributes.get('_route') %}
    
    <nav class="navbar navbar-expand-lg navbar-secondary bg-secondary text-dark">
        <div class="container px-5" style="height: 10rem;">
            <a class="navbar-brand m-3" href="{{ path('game' )}}">
                <img src="{{ asset('img/logo.png')}}" alt="logo" class="text-dark">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-dark" id="navbarResponsive">
                
                <ul class="navbar-nav ml-auto">

                {%  if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link text-dark h-3" href="{{ path('admin_game' )}}"><strong>Gérer les games</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark h-3" href="{{ path('admin_session')}}"><strong>Gérer les séances</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark h-3" href="{{ path('admin_users' )}}"><strong>Gérer les utilisateurs</strong></a>
                    </li>
                    <li class="nav-item ">
                        <a class="btn btn-outline-light text-dark h-3" href="{{path('app_logout')}}"><strong>Me déconnecter</strong><i class="fas fa-sign-out-alt"></i></a>   
                    </li>

                {# user #}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-dark h-3" href="{{ path('booking' )}}"><strong>Gérer mes réservations</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark h-3" href="{{ path('user' )}}"><strong>Gérer mon compte</strong></a>
                    </li>
                    <li class="nav-item ">
                        <a class="btn btn-outline-dark text-dark h-3" href="{{path('app_logout')}}"><strong>Me déconnecter</strong><i class="fas fa-sign-out-alt"></i></a>   
                    </li>

                {% endif %}
                           
                {# </ul> #}

            {# <h3> #}
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <span class="ml-4 my-2 mx-3 badge badge-danger text-dark text-center h-3 bonjour-user"><strong>Bonjour Admin</strong></span>
                </li>
                {% else %}
                <li>
                    {# <span class="ml-4 badge badge-success text-dark h-3 bonjour-user">Bonjour {{app.user.firstname}} {{app.user.lastname}}</span> #}
                </li>
                {% endif %}
            {# </h3> #}
            </ul>
        </div>
    </div>
</nav>
<section class="container">

    {% block body %}
    {% endblock %}

</section>

<footer class="py-5 bg-secondary">
<div class="container">
    <p class="m-0 text-center text-dark">Copyright &copy; Escape Game 2021</p>
</div>
</footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script> 
    {% block script %}{% endblock %}
    {# https://www.w3schools.com/jquery/jquery_filters.asp #}
    </body>
    </html>
