{% extends 'base.html.twig' %}

{% block title %}Réserver une séance{% endblock %}

{% block body %}

<h1>Réserver une séance</h1>

<table class="table table-bordered">

    <thead>
      <tr>
        {% for day,slots in dates %}
            <th>{{ day }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
    {% for day,slots in dates %}
        {% if day in dates_bdd|keys %}

                        <tr>
                            {% if dates_bdd[day][0] == 0  %}
                                <td>
                                    <a href="#" class="btn btn-success">{{slots[0]}}</a>
                                </td>
                            {% else %}
                                <td >
                                    <span class="btn btn-danger">{{slots[0]}}</span>
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if dates_bdd[day][1] == 0  %}
                                <td>
                                    <a href="#" class="btn btn-success">{{slots[1]}}</a>
                                </td>
                            {% else %}
                                <td >
                                    <span class="btn btn-danger">{{slots[1]}}</span>
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if dates_bdd[day][2] == 0  %}
                                <td>
                                    <a href="#" class="btn btn-success">{{slots[2]}}</a>
                                </td>									
                            {% else %}
                                <td >
                                    <span class="btn btn-danger">{{slots[2]}}</span>
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if dates_bdd[day][3] == 0  %}
                                <td>
                                    <a href="#" class="btn btn-success">{{slots[3]}}</a>
                                </td>
                            {% else %}
                                <td >
                                    <span class="btn btn-danger">{{slots[3]}}</span>
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if dates_bdd[day][4] == 0  %}
                                <td>
                                    <a href="#" class="btn btn-success">{{slots[4]}}</a>
                                </td>
                            {% else %}
                                <td >
                                    <span class="btn btn-danger">{{slots[4]}}</span>
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if dates_bdd[day][5] == 0  %}
                                <td>
                                    <a href="#" class="btn btn-success">{{slots[5]}}</a>
                                </td>
                            {% else %}
                                <td >
                                    <span class="btn btn-danger">{{slots[5]}}</span>
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if dates_bdd[day][6] == 0  %}
                                <td>
                                    <a href="#" class="btn btn-success">{{slots[6]}}</a>
                                </td>
                            {% else %}
                                <td >
                                    <span class="btn btn-danger">{{slots[6]}}</span>
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if dates_bdd[day][7] == 0  %}
                                <td>
                                    <a href="#" class="btn btn-success">{{slots[7]}}</a>
                                </td>
                            {% else %}
                                <td >
                                    <span class="btn btn-danger">{{slots[7]}}</span>
                                </td>
                            {% endif %}
                        </tr>
                </div>
        {% else %}
                <div>
                    {# <tr>
                        <td scope="row"></td>
                    </tr> #}
                    <tr>
                        <td>{{slots[0]}}</td>
                    </tr>
                    <tr>
                        <td>{{slots[1]}}</td>
                    </tr>
                    <tr>
                        <td>{{slots[2]}}</td>
                    </tr>
                    <tr>
                        <td>{{slots[3]}}</td>
                    </tr>
                    <tr>
                        <td>{{slots[4]}}</td>
                    </tr>
                    <tr>
                        <td>{{slots[5]}}</td>
                    </tr>
                    <tr>
                        <td>{{slots[6]}}</td>
                    </tr>
                    <tr>
                        <td>{{slots[7]}}</td>							
                    </tr>
                </div>
        {% endif %}

    {% endfor %}
    </tbody>
</table>


{# nb de participants #}
{# {% for player in range(0, 3) %}
    {{ player }}
{% endfor %} #}

{% endblock %}

<!-- {% for day,slots in dates %}
<td>
    <a href="#" class="btn btn-success">{{ slots[i] }}</a>
</td> 
{% endfor %} -->
